.menu-sidebar {
    flex-shrink: 0;
    z-index: 10;
    transition: .2s ease-in;
    position: fixed;
    inset-inline-start: 20px;
    width: 270px !important;
    overflow-y: hidden;
    box-shadow: 0 2px 6px #2553b91a !important;
}


.logo img {
    margin: 0 auto;
}

.miniicons {
    height: calc(100vh - 150px);
}

.sidebar-nav {
    margin-inline-end: 16px;
}

.sidebar-nav .caption {
    padding-top: 20px !important;
    margin-top: 20px !important;
}

.sidebar-nav .caption:first-child {
    padding-top: 0 !important;
    margin-top: 0px !important;
    border-top: 0 !important;
}

.sidebar-dropdown li a {
    opacity: 0.9;

    box-shadow: none !important;
}

.sidebar-dropdown li a.active {
    opacity: 1;
    color: var(--primary) !important;
}


.sidebar-dropdown li a {
    opacity: 0.9;
    padding: 8px 16px;
}

.sidebar-nav li button {
    width: 100% !important;
}

.sidebar-dropdown li a {
    background-color: transparent !important;
}

.sidebar-dropdown li a:hover {
    background-color: transparent !important;
    opacity: 1;
}

.sidebar-dropdown li button:hover {
    background-color: transparent !important;
}

.sidebar-dropdown li .iconify--fad {
    height: 9px;
    width: 9px;
    margin: 0 4px;
}

.menu-sidebar .hide-icon {
    display: none;
}

.brand-logo img {
    max-width: unset;
}

.menu-sidebar [data-testid="flowbite-sidebar-item-group"] li {
    display: flex;
}

.menu-sidebar [data-testid="flowbite-sidebar-item-group"] .collpase-items li {
    display: flex;
    flex-direction: column;
}


.menu-sidebar [data-testid="flowbite-sidebar-item-group"] .collpase-items li button {
    flex-grow: 1;
}

.menu-sidebar [data-testid="flowbite-sidebar-item-group"] .collpase-items li button .iconify {
    flex-shrink: 0;
}

.menu-sidebar [data-testid="flowbite-sidebar-item-group"] .collpase-items li button [data-testid="flowbite-sidebar-collapse-label"] {
    flex-grow: 1;
}

.menu-sidebar [data-testid="flowbite-sidebar-item-group"] li a {
    flex-grow: 1;
    margin-bottom: 0;
}




@media (min-width: 1199px) {


    [data-sidebar-type="mini-sidebar"] .collpase-items .nav-cover {
        overflow-x: hidden;
    }

    [data-sidebar-type="mini-sidebar"] .collpase-items .nav-label {
        opacity: 0;
    }

    [data-sidebar-type="mini-sidebar"] .sidebar-nav {
        margin-inline-end: 0px;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .sidebar-nav {
        margin-inline-end: 16px;
    }


    [data-sidebar-type="mini-sidebar"] .page-wrapper {
        margin-left: 80px;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar {
        width: 75px !important;
        overflow: hidden;
    }

    [data-sidebar-type="mini-sidebar"] .sidebar-nav li button {
        width: 95% !important;
    }
    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .sidebar-nav li button {
        width: 100% !important;
    }

    [data-sidebar-type="mini-sidebar"] .brand-logo {
        overflow: hidden;
        margin-inline-end: 12px;
    }

    [data-sidebar-type="mini-sidebar"]:hover .brand-logo {
        width: auto;
    }

    [data-sidebar-type="mini-sidebar"] .profile-menu {
        padding-left: 0px;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .profile-menu {
        padding-left: 40px;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover {
        width: 270px !important;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .hide-menu {
        display: block !important;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .collpase-items .nav-cover {
        overflow-x: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .collpase-items .nav-label {
        opacity: 100;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .hide-menu {
        display: block !important;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .hide-icon {
        display: block;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .hide-menu {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .hide-menu-flex {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .hide-menu-flex {
        display: flex;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .hide-icon {
        display: none !important;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar [data-testid="flowbite-sidebar-collapse-label"] {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover [data-testid="flowbite-sidebar-collapse-label"] {
        display: flex;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar .collapse-menu .drop-icon {
        display: none;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar:hover .collapse-menu .drop-icon {
        display: block;
    }

    [data-sidebar-type="mini-sidebar"] .menu-sidebar [data-testid="flowbite-sidebar-item-group"] li button {
        width: auto;
        white-space: nowrap;
    }


}