@import 'tailwindcss';

@import './layouts/container.css' layer(base);
@import './layouts/sidebar.css' ;
@import './layouts/horizontal.css' layer(base);
@import './layouts/header.css' layer(base);
@import './theme/default-theme.css' ;
@import './theme/dark.css' layer(base);
@import './override/reboot.css' layer(base);
@import './layouts/rtl.css' layer(base);

@plugin 'flowbite-react/plugin/tailwindcss';
@source '../../.flowbite-react/class-list.json';
@source '../../node_modules/flowbite-react/dist/esm/**/*.mjs';

@custom-variant dark (&:is(.dark *));

@theme {
  --font-*: initial;
  --font-sans: var(--theme-font);

  --shadow-md: var(--theme-shadow-md);
  --shadow-lg: var(--theme-shadow-lg);
  --shadow-dark-md: var(--theme-shadow-dark-md);
  --shadow-sm: var(--theme-shadow-sm);
  --shadow-btn-shadow: var(--theme-shadow-btn-shadow);
  --shadow-tw: var(--theme-shadow-tw);
  --shadow-btnshdw: var(--theme-shadow-btnshdw);
  --shadow-elevation1: var(--theme-shadow-elevation1);
  --shadow-elevation2: var(--theme-shadow-elevation2);
  --shadow-elevation3: var(--theme-shadow-elevation3);
  --shadow-elevation4: var(--theme-shadow-elevation4);

  --radius-sm: var(--theme-radius-sm);
  --radius-md: var(--theme-radius-md);
  --radius-lg: var(--theme-radius-lg);

  --text-13: var(--theme-text-13);
  --text-15: var(--theme-text-15);
  --text-17: var(--theme-text-17);
  --text-22: var(--theme-text-22);
  --text-28: var(--theme-text-28);
  --text-34: var(--theme-text-34);
  --text-40: var(--theme-text-40);
  --text-44: var(--theme-text-44);
  --text-50: var(--theme-text-50);
  --text-56: var(--theme-text-56);
  --text-64: var(--theme-text-64);


  --color-cyan-500: var(--primary);
  --color-cyan-600: var(--primary);
  --color-cyan-700: var(--primary);

  --color-primary: var(--primary);
  --color-secondary: var(--secondary);
  --color-info: var(--info);
  --color-success: var(--success);
  --color-warning: var(--warning);
  --color-error: var(--error);
  --color-indigo: var(--indigo);
  --color-lightprimary: var(--lightprimary);
  --color-lightsecondary: var(--lightsecondary);
  --color-lightsuccess: var(--lightsuccess);
  --color-lighterror: var(--lighterror);
  --color-lightinfo: var(--lightinfo);
  --color-lightwarning: var(--lightwarning);
  --color-lightindigo: var(--lightindigo);
  --color-border: var(--border);
  --color-bordergray: var(--bordergray);
  --color-lightgray: var(--lightgray);
  --color-muted: var(--muted);
  --color-lighthover: var(--lighthover);
  --color-surface: var(--surface-ld);
  --color-dark: var(--dark);
  --color-link: var(--link);
  --color-darklink: var(--darklink);
  --color-darkborder: var(--darkborder);
  --color-darkgray: var(--darkgray);
  --color-primaryemphasis: var(--primary-emphasis);
  --color-secondaryemphasis: var(--secondary-emphasis);
  --color-warningemphasis: var(--warning-emphasis);
  --color-erroremphasis: var(--error-emphasis);
  --color-successemphasis: var(--success-emphasis);
  --color-infoemphasis: var(--info-emphasis);
  --color-darkmuted: var(--darkmuted);
}

@utility container {
  margin-inline: auto;
  padding-inline: 20px;
}

/*
  The default border color has changed to `currentcolor` in Tailwind CSS v4,
  so we've added these compatibility styles to make sure everything still
  looks the same as it did with Tailwind CSS v3.

  If we ever want to remove these styles, we need to add an explicit border
  color utility to any element that depends on these defaults.
*/
@layer base {
  *,
  ::after,
  ::before,
  ::backdrop,
  ::file-selector-button {
    border-color: var(--color-gray-200, currentcolor);
  }
}

@utility container {
  @apply max-w-[1300px];

  .landingpage & {
    @apply max-w-[1320px];
  }
}

@utility landingpage {
  & .container {
    @apply max-w-[1320px];
  }
}

@utility sidebar-link{
  @apply !h-12 !rounded-full !rounded-s-none  !text-15 !font-medium text-dark dark:text-white
  
}

@utility dropdown {
  @apply shadow-md bg-white dark:bg-dark relative rounded-sm dark:shadow-dark-md;
}

@utility card-title {
  @apply text-lg font-semibold text-dark dark:text-white;
}

@utility card-subtitle {
  @apply text-sm dark:text-darklink font-medium;
}

@utility border-ld {
  @apply border-border dark:border-darkborder;
}

@utility bg-hover {
  @apply hover:bg-lighthover dark:hover:bg-lightinfo/30;
}

@utility form-control {
  & input {
    @apply border border-border dark:border-darkborder bg-transparent dark:bg-transparent w-full text-sm rounded-sm;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-control-chat {
  & input {
    @apply rounded-md border-0 bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-0! bg-transparent dark:bg-transparent w-full text-sm ring-transparent dark:ring-transparent;
  }
}

@utility form-control-rounded {
  & input {
    @apply rounded-full border !border-border dark:!border-darkborder bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-control-textarea {
  @apply rounded-full border border-border dark:!border-darkborder !bg-transparent dark:!bg-transparent w-full text-sm p-4;

  &:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-control-input {
  @apply rounded-md border border-border dark:border-darkborder bg-transparent dark:bg-transparent w-full text-sm !py-2 !px-4;

  &:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-rounded-md {
  & input {
    @apply rounded-md border border-border dark:border-darkborder bg-transparent dark:bg-transparent w-full text-sm;
  }

  & input:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent;
  }
}

@utility form-rounded {
  & input {
    @apply rounded-full;
  }
}

@utility input-center {
  & input {
    @apply text-center;
  }
}

@utility elipse {
  @apply w-[18px] h-[10px];
}

@utility select-option {
  & select {
    @apply bg-muted border-0 text-darklink dark:text-white/80 py-2 ps-4 pe-9 w-auto focus:border-0 focus:ring-0 font-medium;
  }
}

@utility select-md {
  & select {
    @apply border-ld bg-transparent dark:bg-darkgray w-full text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-rounded {
  & select {
    @apply border-ld bg-transparent dark:bg-darkgray w-full text-sm rounded-full focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-md-transparent {
  & select {
    @apply border-ld bg-transparent dark:bg-gray-800/70 w-full text-sm rounded-md focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility select-rounded-transparent {
  & select {
    @apply border-ld bg-transparent dark:bg-gray-800/70 w-full text-sm rounded-full focus:border-primary dark:focus:border-primary focus:ring-0;
  }
}

@utility checkbox {
  @apply h-[18px] w-[18px] !border !border-border dark:!border-darkborder bg-transparent focus:ring-0 focus:ring-offset-0;
}

@utility text-primary-ld {
  @apply hover:text-primary dark:hover:text-primary;
}

@utility left-part {
  /* Apps */
  @apply w-80 border-e border-ld p-6;
}

@utility btn-circle {
  @apply !h-8 !w-8 rounded-full flex justify-center items-center !p-0 text-ld;
}

@utility btn-circle-hover {
  @apply h-9 w-9 flex justify-center items-center rounded-full hover:bg-lightprimary hover:text-primary cursor-pointer bg-transparent;
}

@utility text-ld {
  @apply text-dark dark:text-white;
}

@utility avatar-full {
  & img {
    @apply w-full h-full;
  }
}

@utility sorting {
  & button {
    @apply bg-transparent text-dark dark:text-white p-0;
  }

  & button:hover {
    @apply bg-transparent;
  }

  & button span {
    @apply p-0;
  }

  & ul li {
    @apply px-4 py-2;
  }

  & ul li button:hover {
    @apply hover:text-primary;
  }
}

@utility ui-button {
  /* Headlessui */
  @apply flex items-stretch justify-between py-2.5 px-5 text-white text-center font-medium rounded-full;
}

@utility ui-button-small {
  @apply flex items-stretch justify-between py-2 px-6 text-white text-center font-medium rounded-full;
}

@utility ui-dropdown {
  @apply text-ld  w-full max-w-56! bg-white dark:bg-dark  shadow-md dark:shadow-dark-md text-start rounded-sm py-3;
}

@utility ui-dropdown-item {
  @apply flex w-full gap-3 cursor-pointer items-center justify-start px-4 py-2 text-sm text-ld hover:text-primary bg-hover  focus:bg-hover focus:outline-hidden;
}

@utility ui-dropdown-animation {
  @apply origin-top-right transition duration-100 ease-out [--anchor-gap:var(--spacing-1)] focus:outline-hidden data-closed:scale-95 data-closed:opacity-0;
}

@utility ui-form-control {
  @apply border border-border dark:border-darkborder bg-transparent dark:bg-transparent w-full text-sm py-2 px-3;
  &:focus {
    @apply border-primary dark:border-primary outline-hidden shadow-none ring-offset-0 ring-transparent dark:ring-transparent dark:focus:ring-0;
  }
}

@utility ui-checkbox {
  @apply h-[18px] w-[18px] border border-bordergray dark:border-darkborder bg-white dark:bg-transparent data-checked:bg-primary dark:data-checked:bg-primary rounded cursor-pointer focus:ring-0 focus:ring-offset-0 outline-hidden;
}

@utility sidebar-dropdown {
  & .drop-items{
    @apply text-dark/60 dark:text-white/50 group-hover/link:text-primary;
  }
}


@layer components {

  body {
    @apply text-sm overflow-x-hidden dark:bg-dark;
  }

  body {
    @apply text-darklink;
  }

  button{
    @apply !cursor-pointer;
  }

  /*heading text color*/
  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    @apply text-dark dark:text-white font-semibold;
  }

   
}

@layer base {
  :root {

    --radius: 0.5rem
   
  }
   
}