.feature-card img {
  width: 100%;
  object-fit: cover;
}

.card-hover {
  transition: box-shadow 300ms cubic-bezier(0.4, 0, 0.2, 1) 0ms;
}

.card-hover:hover img {
  transform: scale(1.09);
  transition: transform .2s;
}

/* Calendar */
.rbc-event,
.rbc-day-slot .rbc-background-event {
  padding: 10px 10px !important;
  font-weight: 600;
  font-size: 13px;

  border-top-left-radius: 0 !important;
  border-bottom-left-radius: 0 !important;
  border-top-right-radius: 30px !important;
  border-bottom-right-radius: 30px !important;
}

.rbc-event.event-primary {
  background-color: var(--lightprimary) !important;
  color:var(--primary) !important;
  position:relative
  
}
.rbc-event.event-primary ::before{
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  left: 0;
  background-color:var(--primary);
  top: 0;
}

.rbc-toolbar-label {
  color: var(--primary);
  font-weight: 600;
  font-size: 18px;
}

.rbc-event.event-default {
  background-color: var(--lightsecondary) !important;
  color:var(--secondary) !important;
  position:relative
}
.rbc-event.event-default::before{
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  left: 0;
  background-color:var(--secondary) !important;
  top: 0;
}
.rbc-event.event-azure {
  background-color: var(--lightprimary) !important;
  color:var(--primary) !important;
  position:relative
}

.rbc-event.event-azure::before{
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  left: 0;
  background-color:var(--primary) !important;
  top: 0;
}

.rbc-event.event-red {
  background-color: var(--lighterror) !important;
  color:var(--error) !important;
  position:relative
  
}
.rbc-event.event-red ::before{
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  left: 0;
  background-color:var(--error);
  top: 0;
}

.rbc-event.event-green {
  background-color: var(--lightsuccess) !important;
  color:var(--success) !important;
  position:relative
}
.rbc-event.event-green::before{
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  left: 0;
  background-color:var(--success) !important;
  top: 0;
}

.rbc-event.event-warning {
  background-color: var(--lightwarning) !important;
  color:var(--warning) !important;
  position:relative
}
.rbc-event.event-warning::before{
  position: absolute;
  width: 4px;
  height: 100%;
  content: '';
  left: 0;
  background-color:var(--warning) !important;
  top: 0;
}

.rbc-off-range-bg {
  background: transparent !important;
}

.rbc-today {
  background-color: var(--muted);
}

.rbc-month-row+.rbc-month-row,
.rbc-day-bg+.rbc-day-bg,
.rbc-header,
.rbc-month-view,
.rbc-toolbar button,
.rbc-time-content>*+*>* {
  border-color: var(--border) !important;
}

.rbc-header {
  padding: 10px 3px !important;
}

.rbc-day-bg+.rbc-day-bg {
  border-left: 1px solid var(--border) !important;
}



.rbc-event:focus,
.rbc-day-slot .rbc-background-event:focus {
  outline: none;
}

.rbc-toolbar {
  margin-bottom: 30px !important;
}

.rbc-toolbar button {
  background-color: var(--muted) !important;
  border: 0 !important;
  padding: 10px 15px !important;
  font-size: 14px;
}

.rbc-toolbar button:focus {
  color: var(--primary) !important;
}

.rbc-toolbar button:active,
.rbc-toolbar button.rbc-active {
  background-color: var(--lightprimary) !important;
  color: var(--primary) !important;
  box-shadow: none !important;
  border-radius: 0px;
}

.rbc-toolbar button:hover {
  color: var(--primary) !important;
}

.rbc-btn-group {
  border-radius: 30px !important;
  overflow: hidden;
  border-color: 1px solid var(--border) !important;
}
.calendar > .absolute{
  top: 51% !important;
}
.calendarSec > .absolute{
  top: 67% !important;
}

.btn-primary {
  background-color: #2b2b2b;
}

.btn-secondary {
  background-color: #1a97f5;
}

@media (max-width: 767px) {
  .rbc-btn-group {
    width: 100%;
    text-align: center;
    margin-bottom: 15px;
  }

  .rbc-toolbar .rbc-toolbar-label {
    margin-bottom: 15px;
    display: block;
  }

  .rbc-calendar {
    height: 100vh !important;
  }
}

.rbc-calendar {
  min-height: 600px;
}

.email-content p {
  margin: 12px 0;
}

.product-thumb .slick-current img {
  border: 2px solid var(--primary) !important;
}

.product-thumb .slick-slide img {
  border: 2px solid transparent;
}

.slick-prev:before,
.slick-next:before {
  color: #2b2b2b
}

.slick-next {
  right: 15px
}

.slick-prev {
  left: 15px;
  z-index: 1;
}


.ql-container {
  min-height: 200px;
  border-radius: 0 0 9px 9px;
  font-family: inherit !important;

}

.ql-toolbar.ql-snow {
  border-radius: 9px 9px 0 0;
  border: 1px solid var(--border) !important;
  font-family: inherit !important;
}

.ql-toolbar.ql-snow+.ql-container.ql-snow {
  border-top: 0 !important;
}

.darkbg .ql-container.ql-snow,
.darkbg .ql-toolbar.ql-snow,
.darkbg .ql-snow .ql-tooltip input[type='text'] {
  border-color: var(--border) !important;
}

.darkbg .ql-snow .ql-picker:not(.ql-picker):not(.ql-icon-picker) svg,
.darkbg .ql-snow.ql-toolbar button svg,
.ql-snow .ql-toolbar button svg {
  filter: brightness(0) invert(1);
}

.darkbg .ql-snow .ql-picker,
.darkbg .ql-snow .ql-tooltip input[type='text'] {
  color: white;
}

.darkbg .ql-snow .ql-picker-options,
.darkbg .ql-snow .ql-tooltip,
.darkbg .ql-snow .ql-tooltip input[type='text'] {
  background-color: #484b52;
}

.darkbg .ql-snow .ql-tooltip[data-mode='link']::before {
  color: white;
}

.ql-editor,
.ql-snow * {
  font-size: 16px;
  font-family: inherit !important;
}

.ql-editor.ql-blank::before {
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  color: #777e89;
}

.ql-container.ql-snow {
  border: 0;
}

.ql-toolbar.ql-snow {
  border-width: 0 0 1px 0;
}

.ql-toolbar.ql-snow .ql-picker-label,
.ql-toolbar.ql-snow .ql-picker-options {
  border: 0;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-options {
  top: 33px;
}

.ql-snow .ql-picker-options {
  padding: 5px 19px;
  box-shadow: none;
  border-radius: 9px;
}

.ql-snow .ql-picker.ql-expanded .ql-picker-label {
  color: inherit;
}

.ql-snow .ql-tooltip {
  left: 0 !important;
  border: 0;
  box-shadow: 0 5px 15px rgb(0 0 0 / 12%);
  border-radius: 5px;
}

.ql-snow .ql-tooltip input[type='text'] {
  height: auto;
  padding: 5px 8px;
  border-radius: 5px;
  outline: 0;
}

.ql-container.ql-snow {
  border: 1px solid var(--border) !important;
}

.react-datepicker-wrapper {
  display: block !important;
}

/* For Range Slider Dot Color */
#default-range::-webkit-slider-thumb {
  background-color: var(--primary);
}

#default-range::-moz-range-thumb {
  background-color: var(--primary);
}

#default-range::-ms-thumb {
  background-color: var(--primary);
}

.product-details .product-thumb .slick-current img{
    border: 2px solid var(--primary) !important;
    padding: 4px;
}
.product-details .product-thumb img{
    height: 75px !important;
    width: 75px !important;
}